
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<h3 class="text-center">Mvc Tablo Ödevi</h3>
<hr />
<table class="table table-bordered">
    <tr>
        <th>Kategori Id</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklaması</th>
        <th>Kategori Durumu</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Bilgisayar</td>
        <td>Bilgisayar ile ilgili ürünler</td>
        <td>Aktif</td>
        <td><button class=" btn btn-success">Güncelle</button></td>
        <td><button class=" btn btn-danger">Sil</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Eğitim</td>
        <td>Egitim Kategori Alanidir</td>
        <td>Aktif</td>
        <td><button class=" btn btn-success">Güncelle</button></td>
        <td><button class=" btn btn-danger">Sil</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Kitap Kategori Alanidir</td>
        <td>Aktif</td>
        <td><button class=" btn btn-success">Güncelle</button></td>
        <td><button class=" btn btn-danger">Sil</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Spor</td>
        <td>Spor Kategori Alanidir</td>
        <td>Aktif</td>
        <td><button class=" btn btn-success">Güncelle</button></td>
        <td><button class=" btn btn-danger">Sil</button></td>
    </tr>
    <tr>
        <td>5</td>
        <td>Film</td>
        <td>Film Kategori Alanidir</td>
        <td>Aktif</td>
        <td><button class=" btn btn-success">Güncelle</button></td>
        <td><button class=" btn btn-danger">Sil</button></td>
    </tr>
</table>
<div style="text-align:center; margin-top:20px;">
    <button class="btn btn-info">Kategori Ekle</button>
    <button class="btn btn-warning">Kategori Listesi</button>
    <button class="btn btn-dark">Kategori Açıklamaları</button>
</div>

@*<button class="btn btn-info">Kategori Ekle</button>
    <button class="btn btn-warning">Kategori Listesi</button>
    <button class="btn btn-dark">Kategori Açıklamaları</button>*@